__pycache__/
Things_to_tackle/
test.ipynb
program_gone_wrong.txt
secret_message.bmp
secret_message.txt
Digital Image Processing 3rd ed. - R. Gonzalez, R. Woods-ilovepdf-compressed.pdf
test.py
successful_after_failures.txt